#output{
    align-items: center;
    @include flexCenter(column);
    margin-left: 2rem ;
    margin-right: 2rem ;
}
#image{
   
    min-width: 500px;
    max-width: 800px;
    width: 100%;

    margin-bottom: 1rem;
}

#prompt_container{
    background-color: $white;
    height: 4rem;
    width: 50%;
    min-width: 270px;
    @include flexCenter(column);
    word-break:break-all;
    border-radius: 20px;
    margin-bottom: 1rem;
    
 
}
#text{
    color : $blue;
    font-family: 'Balsamiq Sans', cursive;
    text-align: center;
    font-size: 1.5rem;
    margin: 10px; 
    
}

#prompt_button:link,#prompt_button:visited{
   
    @include flexCenter(column);
    text-align: center;
    width: 150px;
    height: 2rem;
    background: #FD7049;
    padding: 10px;
    margin-bottom: 3rem;
    
    border-radius: 20px;
    color: $white;
    
    line-height: 2rem;
    font-family: 'Balsamiq Sans', cursive;
    font-size: 1rem;
    font-weight: bold;
    
}
#prompt_button:hover{
    background-color: #FD4D1C;    
}

@media only screen and (max-width : 550px) {
    #image{
        min-width: 300px;
    }
}