/*================== font =================*/
@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Gluten&display=swap");
/*================== color =================*/
/*================== mixin =================*/
#headlines {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  margin: 50px;
  margin-bottom: 30px;
}

h1 {
  font-size: 3rem;
  font-family: 'Gluten', cursive;
  color: #FC7753;
}

h2 {
  font-size: 1.5rem;
  color: #EBEBEB;
  font-family: 'Balsamiq Sans', cursive;
}

#output {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 2rem;
  margin-right: 2rem;
}

#image {
  min-width: 500px;
  max-width: 800px;
  width: 100%;
  margin-bottom: 1rem;
}

#prompt_container {
  background-color: #EBEBEB;
  height: 4rem;
  width: 50%;
  min-width: 270px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  word-break: break-all;
  border-radius: 20px;
  margin-bottom: 1rem;
}

#text {
  color: #13293D;
  font-family: 'Balsamiq Sans', cursive;
  text-align: center;
  font-size: 1.5rem;
  margin: 10px;
}

#prompt_button:link, #prompt_button:visited {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  width: 150px;
  height: 2rem;
  background: #FC7753;
  padding: 10px;
  margin-bottom: 3rem;
  border-radius: 20px;
  color: #EBEBEB;
  line-height: 2rem;
  font-family: 'Balsamiq Sans', cursive;
  font-size: 1rem;
  font-weight: bold;
}

#prompt_button:hover {
  background-color: #FC7770;
}

@media only screen and (max-width: 550px) {
  #image {
    min-width: 300px;
  }
}

/*=================mixin====================*/
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
}

html {
  font-size: 18px;
  background-color: #13293D;
}

.app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  align-items: center;
}
/*# sourceMappingURL=style.css.map */